body {
    margin: 20px;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 100%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #5ab1bb;
    color: black;
    border-bottom: 6px solid #f7dd72;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.icons img {
    width: 40px;
    height: 40pxpx;
    display: grid;
    place-items: center;
    padding: 8px;
    position: relative;
}

.icons img:hover {
    bottom: 5px;

}
.border-blue {
    border: 1px dotted blue;
}


